@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

.mainBackground {
    background: radial-gradient(circle at 52.1% -29.6%, rgb(106, 8, 76) 0%, rgb(23, 1, 59) 100.2%);
}

#option-hide {
    display: none;
    visibility: hidden;
}

.stick-css li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
}

li.slick-active {
    background-color: #e00d7a;
}

#slider-promotion .slick-arrow.slick-prev {
    display: none !important;
}

#slider-promotion .slick-arrow.slick-next  {
    display: none !important;
}